[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/pydiction"]
	path = bundle/pydiction
	url = https://github.com/vim-scripts/Pydiction.git
